[local]
localhost ansible_connection=local
[proxy]
{{ec2_proxy.instances[0].private_ip}} ansible_connection=ssh
[webservers]
{{ec2_webserver.instances[0].private_ip}} ansible_connection=ssh
{{ec2_webserver.instances[1].private_ip}} ansible_connection=ssh
[database]
{{ec2_database.instances[0].private_ip}} ansible_connection=ssh
[development]
{{ec2_dev.instances[0].private_ip}} ansible_connection=ssh

